@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
:root body {
  background-color: #191717;
  color: white;
}
.first {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  font-size: 25px;
}

.btn-get-started {
  background-color: #5d3587aa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adding transition for smooth color change */
}

/* Hover effect */
.btn-get-started:hover {
  background-color: #5d3587; /* Change color on hover */
}

/* Active effect (when the button is tapped/clicked) */
.btn-get-started:active {
  background-color: #5d3587cc; /* Change color on active */
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .btn-get-started {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media query for smaller screens */
@media (min-width: 576px) {
  .logo {
    text-align: center; /* Center the logo on smaller screens */
  }

  .content {
    text-align: center; /* Center the text on smaller screens */
    margin-top: 20px; /* Adjust top margin for the text */
  }

  .btn-get-started {
    display: block; /* Ensure the button appears as a block element */
    margin: 20px auto; /* Center the button horizontally */
  }
}

.btn-btn-primary {
  background-color: #5d3587aa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adding transition for smooth color change */
}

/* Hover effect */
.btn-btn-primary:hover {
  background-color: #5d3587; /* Change color on hover */
}

/* Active effect (when the button is tapped/clicked) */
.btn-btn-primary:active {
  background-color: #5d3587cc; /* Change color on active */
}
.btn-btn-secondary {
  background-color: #5d3587aa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adding transition for smooth color change */
}

/* Hover effect */
.btn-btn-secondary:hover {
  background-color: #5d3587; /* Change color on hover */
}

/* Active effect (when the button is tapped/clicked) */
.btn-btn-secondary:active {
  background-color: #5d3587cc; /* Change color on active */
}

/* SignUp Form */

.form-wrapper {
    background-color: #D9D9D9; /* White background with opacity */
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    max-width: 400px; /* Set maximum width */
    margin: auto; /* Center horizontally */
    position: absolute; /* Positioning */
    top: 50%; /* Move to 50% from the top */
    left: 50%; /* Move to 50% from the left */
    transform: translate(-50%, -50%); /* Centering trick */
    text-align: center; /* Align form elements to the left */
    /* Blur effect */
    backdrop-filter: blur(5px); /* Adjust blur intensity as needed */
  }

  .form-wrapper input,
  .form-wrapper select {
    width: 250px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: left; /* Center the placeholder text */
    outline: black;
    font-size: 12px; /* Reduced font size for placeholders */
  }
  
  
  /* Custom dropdown */
.dropdown {
  position: relative;
  width: 100%;
}

.select-text {
  position: relative;
  padding: 10px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border: none; /* Remove border around the text */
  cursor: pointer;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position of the arrow */
  transform: translateY(-50%);
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  font-size: 14px;
  padding: 10px;
}

.password-container {
  position: relative;
}

.show-hide-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  color: #888;
}

.show-hide-button:focus {
  outline: none;
}

.selected-text {
    position: relative;
    padding: 10px;
    font-size: 13px;
    color: black;
    border-radius: 5px;
    border: none; /* Remove border around the text */
    cursor: pointer;
    text-align: center;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox-label input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-label .checkbox-custom {
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 3px;
    margin-right: 8px;
    position: relative;
  }
  
  .checkbox-label input[type="checkbox"]:checked + .checkbox-custom::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 5px;
    height: 9px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /* Hover effect */
  .btn-btn-primary:hover {
    background-color: #5D3587; /* Change color on hover */
  }
  
  /* Active effect (when the button is tapped/clicked) */
  .btn-btn-primary:active {
    background-color: #5D3587CC; /* Change color on active */
  }
  .btn-btn-secondary {
    background-color: #5D3587AA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s; /* Adding transition for smooth color change */
  }
  
  /* Hover effect */
  .btn-btn-secondary:hover {
    background-color: #5D3587; /* Change color on hover */
  }
  
  /* Active effect (when the button is tapped/clicked) */
  .btn-btn-secondary:active {
    background-color: #5D3587CC; /* Change color on active */
  }

/* SignIn Form */
.formed-wrapper {
  background-color: #D9D9D9; /* White background with opacity */
  padding: 60px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  max-width: 400px; /* Set maximum width */
  margin: auto; /* Center horizontally */
  position: absolute; /* Positioning */
  top: 50%; /* Move to 50% from the top */
  left: 50%; /* Move to 50% from the left */
  transform: translate(-50%, -50%); /* Centering trick */
  text-align: center; /* Align form elements to the left */
  /* Blur effect */
  backdrop-filter: blur(5px); /* Adjust blur intensity as needed */
}

.formed-wrapper input,
.formed-wrapper select {
  width: 250px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: left; /* Center the placeholder text */
  outline: black;
  font-size: 12px; /* Reduced font size for placeholders */
}

.btn-btns-secondary {
  background-color: #5D3587AA;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adding transition for smooth color change */
}

/* Hover effect */
.btn-btns-secondary:hover {
  background-color: #5D3587; /* Change color on hover */
}

/* Active effect (when the button is tapped/clicked) */
.btn-btns-secondary:active {
  background-color: #5D3587CC; /* Change color on active */
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
}

/* Sidebar */
.sidebar-btn {
  margin-bottom: 10px;
  width: 100%;
}

.sidebar-channel-list {
  margin-top: 10px;
}

.sidebar-channel-list p {
  margin: 5px 0;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.logout-btn {
  width: 100%;
  background-color: #5D3587 !important;
  color: white !important;
}

/* Admin.css */
.admin-container {
  display: flex;
  flex-direction: row; /* Changed to row */
  height: 100vh;
}

.sidebar-wrapper {
  width: 300px;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.message-box {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  overflow-y: auto; /* Add this line */
 }

.message-input {
  display: flex;
  align-items: center;
}

.message-box .form-group {
  margin-bottom: 10px;
  margin-right: 10px; /* Added margin to separate elements */
}

.message-input .form-control {
  width: 800px;
  height: 40px; /* Change height to auto */
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 50px;
  background-color: #343849 !important; /* Background color */
  color: white !important; /* Text color */
  padding: 5px 10px; /* Adjust padding for better visibility */
  border-radius: 25px;
  word-wrap: break-word; /* Enable word wrapping */
  max-height: 120px;
  padding: 10px 10px;
}

.message-input .form-control::placeholder {
  color: white;
}

.send-btn {
  height: 40px;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: transparent !important; /* Set icon's background color to transparent */
  border: none !important; /* Remove button border */
  padding: 0; /* Remove padding */
}

.send-btn:focus {
  outline: none; /* Remove focus outline */
}

/* Styles for Sidebar remain unchanged */
.sidebar-wrapper {
  width: 300px;
}

/* Navbar */
.navbar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px); /* Assuming the sidebar width is 300px */
  padding: 20px;
  background-color: #5D3587;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 /* Center the text */
 .navbar-title {
  margin: 0;
  font-size: 24px;
  color: #fff; /* Adjust text color */
  text-align: center;
  flex: 1;
 }
 
 /* Style the button */
 .navbar-button {
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff; /* Adjust text color */
  background-color: #8244AD; /* Adjust background color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }
 
 .navbar-button:hover {
  background-color: #5D3587; /* Adjust hover background color */
 }